{{ $class := .Class }}

<div class="{{ $class }}">
    <form id="contactme-form" class="flex flex-col items-center justify-center p-s space-y-l" action="{{ site.Params.formspreeFormUrl }}" method="POST">
        <div class="flex flex-row w-full space-x-l">
            <label><input class="txt-input-bordered" type="text" name="name" placeholder="Name"></label>
            <label><input class="txt-input-bordered" type="text" name="surname" placeholder="Surname"></label>
        </div>
        <label class="w-full"><input class="txt-input-bordered" type="email" name="email" placeholder="Email"></label>
        <label class="w-full">
            <textarea class="!h-[224px] txt-input-bordered resize-none" type="text" name="message" placeholder="Message"></textarea>
        </label>
        <button class="btn-brand w-1/2" type="submit">Send</button>
    </form>
</div>