*.lock
.DS_Store
.idea/

# Node
node_modules/

# Hugo
exampleSite/public/
exampleSite/resources/
exampleSite/hugo_stats.json
tailwind-full.config.js

# Custom
/figma/variables/generatedTailwindConfig.js
