<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}"
      class='{{ if eq (site.Params.defaultThemeMode) ("dark") }}dark{{ end }} scroll-smooth'>
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-primary-light dark:bg-primary-dark">
  <header class="p-l m:p-xl">
    {{ partial "header.html" . }}
  </header>
  <main class="p-l m:p-xl">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="p-l m:p-xl">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
