{{ define "main" }}
  {{- $page := . }}
  <div class="w-full m:w-4/5 xl:w-2/3 space-y-xl [&>*:nth-child(4n+3)]:after:left-none
  [&>*:nth-child(4n+5)]:after:right-none">
    <div class="mb-l text-center text-xl">{{ .Content }}</div>
    {{- with site.Menus.main }}
      {{- partial "inline/menu/pageSummary.html" (dict "page" $page "menuEntries" .) }}
    {{- end }}
  </div>
{{ end }}

{{- define "partials/inline/menu/pageSummary.html" }}
  {{- $page := .page }}
  {{- $entries := .menuEntries }}
  {{- range $index, $entry := $entries }}
    {{ if $entry.HasChildren }}
      {{- with .Children }}
        <div class="relative h-2xs bg-brand-light dark:bg-brand-dark after:absolute after:bg-brand-light
        dark:after:bg-brand-light after:-bottom-xs after:w-[10px] after:h-[10px] after:rounded-circle"></div>
        {{- partial "inline/menu/pageSummary.html" (dict "page" $page "menuEntries" .) }}
      {{ end }}
    {{ else }}
      {{- with $entry.Page }}
        {{ if ne ($index) (0) }}
          <div class="relative h-2xs bg-brand-light dark:bg-brand-dark after:absolute after:bg-brand-light
          dark:after:bg-brand-light after:-bottom-xs after:w-[10px] after:h-[10px] after:rounded-circle"></div>
        {{ end }}
        <div id="{{ $entry.Identifier }}" class="article">
          {{ if eq ($entry.Identifier) ("contactme") }}
            <h2 class="text-center heading-m font-semibold mb-l">
              {{ if not site.Params.singlePage }}
                <a href="{{ .RelPermalink }}">{{.LinkTitle }}</a>
              {{ else }}
                {{.LinkTitle }}
              {{ end }}
            </h2>
            {{ partial "components/contactMeForm.html" (dict "Class" "flex flex-col items-center justify-center") }}
          {{ else }}
            <h2 class="heading-m font-semibold mb-l">
                {{ if not site.Params.singlePage }}
                  <a href="{{ .RelPermalink }}">{{.LinkTitle }}</a>
                {{ else }}
                  {{.LinkTitle }}
                {{ end }}
            </h2>
            {{ .Content }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}