<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ .Site.Author.name }}">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Favicons -->
{{ partial "head/favicons.html" . }}

<!-- Fonts -->
{{ partial "head/google_fonts.html" . }}

<!-- Google Analytics -->
{{ template "_internal/google_analytics.html" . }}

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}