<div id='{{ with .Get "id" }}{{ . }}{{ end }}' class="flex space-x-m mb-m mt-l m:mt-none items-center justify-center m:justify-normal project-title">
    <h3 class="heading-s">{{ with .Get "title" }}{{ . }}{{ end }}</h3>
    <div class="flex space-x-xs items-stretch">
        {{- if .Get "link1" -}}
            <a href='{{ with .Get "link1" }}{{ . }}{{ end }}' target="_blank" class='btn-brand w-fit {{ with .Get "hideMobile1" }}hidden m:flex{{ else }}flex{{ end }} items-center self-stretch {{ with .Get "class1" }}{{ . }}{{ end }}'>
                {{- if .Get "icon1" -}}
                    <i class='{{ with .Get "icon1" }}{{ . }}{{ end }} mr-s'></i>
                {{- end -}}
                <div class="flex flex-col items-center">
                    {{ with .Get "title1" }}{{ . }}{{ end }}
                    <span class="text-xs">{{ with .Get "subtitle1" }}{{ . }}{{ end }}</span>
                </div>
            </a>
        {{- end -}}
        {{- if .Get "link2" -}}
            <a href='{{ with .Get "link2" }}{{ . }}{{ end }}' target="_blank" class='btn-secondary w-fit {{ with .Get "hideMobile2" }}hidden m:flex{{ else }}flex{{ end }} items-center self-stretch {{ with .Get "class2" }}{{ . }}{{ end }}'>
                {{- if .Get "icon2" -}}
                    <i class='{{ with .Get "icon2" }}{{ . }}{{ end }} mr-s'></i>
                {{- end -}}
                <div class="flex flex-col items-center">
                    {{ with .Get "title2" }}{{ . }}{{ end }}
                    <span class="text-xs">{{ with .Get "subtitle2" }}{{ . }}{{ end }}</span>
                </div>
            </a>
        {{- end -}}
        {{- if .Get "link3" -}}
            <a href='{{ with .Get "link3" }}{{ . }}{{ end }}' target="_blank" class='btn w-fit {{ with .Get "hideMobile3" }}hidden m:flex{{ else }}flex{{ end }} items-center self-stretch {{ with .Get "class3" }}{{ . }}{{ end }}'>
                {{- if .Get "icon3" -}}
                    <i class='{{ with .Get "icon3" }}{{ . }}{{ end }} mr-s'></i>
                {{- end -}}
                <div class="flex flex-col items-center">
                    {{ with .Get "title3" }}{{ . }}{{ end }}
                    <span class="text-xs">{{ with .Get "subtitle3" }}{{ . }}{{ end }}</span>
                </div>
            </a>
        {{- end -}}
    </div>
</div>